@font-face {
  font-family: "GalmuriMono11";
  src: url("fonts/GalmuriMono11.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GalmuriMono11";
  src: url("fonts/GalmuriMono11.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GalmuriMono11";
  src: url("fonts/GalmuriMono11.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
