// Sidebar
//
// Styles for the sidebar.

.masthead {
  text-align: center;
  margin: auto;
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: calc(var(--spacer-3) * 4);

  a {
    color: inherit;
    text-decoration: none;
  }
}

.masthead-main {
  display: inline-block;
  text-align: left;
  width: min(18rem, 100%);
}

.masthead-title {
  font-family: "GalmuriMono11", var(--body-font);
}

.masthead-tagline,
.navigation {
  font-family: "GalmuriMono11", var(--body-font);
}

.navigation {
  width: 100%;
  text-align: left;
}

.navigation a {
  font-family: inherit;
}
.masthead-title {
  font-family: "GalmuriMono11", var(--body-font);
}

.masthead-tagline,
.navigation {
  font-family: "GalmuriMono11", var(--body-font);
}

.navigation a {
  font-family: inherit;
}

.avatar-image {
  width: 30%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: calc(var(--spacer-3) * 2);
}

.masthead-title {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-weight: 900;
  
  a:hover,
  a:focus {
    color: var(--link-hover-color);
  }
}

.masthead-tagline {
  padding: 0;
  margin: calc(var(--spacer) * 0.75) 0 0;
  font-size: 1.25rem;
  font-weight: 400;
  opacity: .95;
  color: var(--link-color);
  line-height: 1.35;
}

.masthead-tagline small {
  display: inline-block;
  text-align: left;
  max-width: 18rem;
  padding: 0.5rem 0.65rem;
  border-radius: var(--border-radius);
  background-color: #162839;
}

.navigation-list {
  margin-top: calc(var(--spacer-2) + 0.6rem);
  padding: 0;
  list-style: none;
  text-align: left;
}

.navigation-item {
  display: block;
  margin-bottom: var(--spacer);
}

.navigation-item a {
  background: transparent;
  color: inherit;
  letter-spacing: 0.05em;
  font-size: 90%;
  display: block;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 220ms ease;

  &:hover,
  &:focus {
    color: var(--link-hover-color);
    background-size: 100% 2px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .navigation-item a {
    transition: none;
  }
}

.social {
  position: absolute;
  bottom: calc(var(--spacer-3) * 3);
  left: 0;
  right: 0;
  margin: 0;
  font-size: 150%;
  white-space: normal;
  line-height: .5;
}

.social-icon {
  padding: var(--spacer);
  &:hover,
  &:focus {
    color: var(--link-hover-color);
    background-color: transparent;
  }
  svg {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
  }
}

@media (max-width: $md-width) {
  .avatar-image {
    width: 15%;
  }
}
